*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;

    width: 100%;
    height: 100vh;
}

.gameContainer{
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.mainImg{
    max-width: 700px;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contentConatiner{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.initGame{
    width: 90%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    max-width: 1120px;

    transition: all .5s;
}

.initGame section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.initGame section h2,h1{
    font-size: 80px;
    margin: 0px;
    padding: 0px;

    color: #0D594C;
}

.initGame section h1{
    font-style: italic;
    font-weight: bolder;

    line-height: 80px;

    margin-bottom: 70px;
}

.initGame button{
    background-color: #EFCA20;
    color: #fff;
    font-weight: 600;
    border: none;

    padding: 10px 20px;
    font-size: 35px;

    border-radius: 28px;
    cursor: pointer;

    transition: all .2s;
}

.initGame button:hover{
    background: #d8b61d;
}


.questionContainer{
    width: 90%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 1120px;

    transition: all .5s;
}

.tittle{
    font-size: 25px;
    color: #0a6357;
    font-weight: bold;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: 50px;
    margin-top: 50px;

    width: 100%;
}

.questions{
    transition: all .2s;
}

.questions p, label{
    color: #0a6357;
    font-size: 1.3rem;
    font-weight: 500;
}

.questions label{
    font-size: 1.2rem;
}

.questionsSection{
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.questionsSection section:first-child{
    margin-top: 50px;
    margin-bottom: 17px;

}

.questionsSection section{
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.questions button{
    background-color: #EFCA20;
    color: #fff;
    border: none;
    font-weight: 600;

    padding: 10px 20px;
    font-size: 1rem;

    border-radius: 10px;
    cursor: pointer;

    margin-top: 50px;

    transition: all .2s;
}

.questions button:hover{
    background-color: #dbb91f;
}

.selectAnswer{
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 10px;

    border: 1px solid #0EA35D;

    color: #0a6357;

    transition: all .5s;
}

.hint p:first-child{
    margin: 0px;
}

.hint p{
    color: #C1C1C1;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 12px;

}

.dNone{
    opacity: 0;
    display: none;
    transform: translateY(-100%);
}

.togglePage{
    opacity: 0;
    transform: translateY(50%);
}

.opacityNone{
    opacity: 0;
}

.modalDeductionBackground{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    background: rgba(0, 0, 0, 0.479);

    top: 0px;

    transition: all .2s;
    z-index: 1;
}

.modalDeductionContainer{
    width: 50%;

    position: absolute;
    border-radius: 10px;

    background: #fafafa;
    margin: auto;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    height: 70vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    transition: all .2s;

    z-index: 2;
}

.modalHeader{
    width: 100%;
    padding: 10px 0px;
    border-bottom: 2px solid #ddd;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalHeader p{
    font-size: 1.2rem;
    font-weight: bold;
    color: #0a6357;

    margin-left: 20px;
}

.toggleModal{
    width: 50%;

    position: absolute;
    border-radius: 10px;

    background: #fafafa;
    margin: auto;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    transition: all .5s;
    opacity: 0;
    transform: translateY(-100vh);

    z-index: 2;
}

.modalFooter{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;

    border-top: 2px solid #ddd;
    padding: 20px;
}

.closeModal{
    background-color: #0D8070;
    color: #fff;
    border: none;

    padding: 10px 20px;
    font-size: 1rem;

    border-radius: 10px;
    cursor: pointer;

    transition: all .2s;
}

.closeModal:hover{
    background-color: #0D8070;
}

.closeIcon{
    margin-right: 20px;

    cursor: pointer;
}

.opacityNoneModal{
    display: none;
    transition: all .2s;
    transform: translateY(-100%);
}

.modalBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    overflow-y: scroll;

    padding: 10px 0px;
}

.modalBody::-webkit-scrollbar {
    width: 8px;              
}
  
.modalBody::-webkit-scrollbar-track {
    background: #fafafa;   
}
  
.modalBody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.123);  
    border-radius: 20px;    
}

.modalBody p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #0a6357;
}

.imageModal{
    max-width: 500px;
    margin-bottom: 25px;
}

.dNoneSelect{
    display: none !important;
}

.advancedButton{
    margin-left: 10px;
    background-color: rgb(206, 206, 206) !important;
}

.advancedButton:hover{
    background-color: rgb(153, 153, 153) !important;
}

.inferences{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

}

.inferences p{
    font-size: 1rem !important;
}

.inferences span{
    color: rgb(182, 182, 182);
}