.sideBarContainer{
    height: 100vh;
    width: 75px;

    background: linear-gradient(177.81deg, #0EA85A -9.82%, #0C7475 115.1%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBarContainer span svg{
    width: 30px;
}

.sideBarContainer span{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBarContainer span::after{
    content: '';
    height: 55px;
    border-radius: 4px 0px 0px 4px;
    width: 6px;
    position: absolute;
    left: 65px;
    
    background: #65F4AC;
}

